<%-include('./header') %>
    <h1>register new user</h1>
    <form action="/" method="post">
        <select>
            <%  customer.forEach(function(user){%>
                <option value="">
                    <%=user.name%>
                </option>

                <%})%>
        </select>
        <select>
            <%  firm.forEach(function(user){%>
                <option value="">
                    <%=user.name%>
                </option>

                <%})%>
        </select>

        <input type="number" name="mobile" placeholder="enter mobile">
        <input type="text" name="place" placeholder=" place">
        <input type="submit" value="submit">
    </form>

    <%-include('./footer') %>